<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Planning Poker</title>
	
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<div class="content">
		<div class="header">
			<div class="title">
				<h3 class="header-ticket" id="header">Up now:</h3>
				<h1 class="header-title" id="title"></h1>
			</div>
			<p class="description" id="description"></p>
		</div>
		<ul id="my-cards" class="cards">
			<li class="card" value="1">1</li>
			<li class="card" value="3">3</li>
			<li class="card" value="5">5</li>
			<li class="card" value="8">8</li>
		</ul>
		<div class="results" id="result-cards">
		</div>
	</div>
	<div class="side-bar">
		<ul class="side-tickets" id="stories">
		</ul>
		<div id="part-header">Participants</div>
		<ul id="participants"></ul>
	</div>
	<div id="admin-panel">
		<form class="form-group" style="overflow-y: auto;">
			<fieldset>
				<legend class="admin-title" style="color:#70828a">Moderator Panel</legend>
				<div id="new-ticket-form" class="form-group">
					<div class="admin-group">
						<label for="ticket">New Ticket: </label>
						<div class="input-group">
							<input id="ticket" type="text" class="form-control input-small form-input" name="ticket" pattern="[A-Z]{2,}+-[0-9]+"/>
							<span class="input-group-btn">
								<button id="new-ticket-btn" type="button" class="btn btn-default">New Ticket</button>
							</span>
						</div>
					</div>
				</div>
				<div id="new-game-form" class="form-group">
					<div class="admin-group">
						<label for="game">New Game: </label>
						<div class="input-group">
							<input id="game" type="text" class="form-control input-small form-input" name="game" />
							<span class="input-group-btn">
								<button id="new-game-button" type="button" class="btn btn-default">New Game</button>
							</span>
						</div>
					</div>
				</div>
				<div id="set-score-form" class="form-group">
					<div class="admin-group">
						<label for="game">Set Score: </label>
						<div class="input-group">
							<input id="score" type="text" class="form-control input-small form-input" name="game" />
							<span class="input-group-btn">
								<button id="set-score-btn" type="button" class="btn btn-default">Set</button>
							</span>
						</div>
					</div>
				</div>
				<div class="btn-group last-group">
					<input id="end-game-btn" type="button" class="btn btn-default" value="End Game" />
					<input id="flip-btn" type="button" class="btn btn-default" value="Flip Cards" />
					<input id="clear-btn" type="button" class="btn btn-default" value="Clear Cards" />
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>