<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Planning Poker - Games List</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/join.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/join.js"></script>
</head>
<body>
	<div class="join panel">
		<div id="games-list" class="list-group">
			<div>
			<% @games.each do |game| %>
				<a href="showgame?id=<%= game.id %>" class="list-group-item"><%=escape_html game.name %></a>
			<% end %>
			</div>
		</div>
		
    	<div class="input-group">
     	 <input id="new" type="text" class="form-control form-input" placeholder="Game Name" name="game" />
      	<span class="input-group-btn">
        	<button id="new-btn" class="btn btn-default" type="button">Create</button>
     	 </span>
   		 </div><!-- /input-group -->
	</div>
</body>
</html>
