/*===========================

	Siteworx
	Written for - Planning Poker
	Author - Mike Nolan

	color swatch
	============
	70828a - shallow blue
	5296b5 - deep blue
	191919 - dark grey
	333333 - medium grey
	dddddd - light grey

===========================*/



/*===========================
	zeroing out all default 
	browser settings
===========================*/
body{
	background-color: #fbfcfc;
}
* {
	margin:0;
	padding:0;
}

/*===========================
			Fonts
===========================*/
@font-face {
	font-family: Museo;
	src: url("fonts/Museo300-Regular.otf") format("opentype");
}

/*===========================
			Login
===========================*/
.join {
	width:500px;
	height:230px;
	background-color:#70828a;
	color:#FFF;
	margin: 0 auto 0 auto;
	padding:25px;
	position : absolute;
	top:50%;
	left:50%;
	margin:-155px 0 0 -250px;
	overflow-y:scroll;
}

.join-form {
	text-align: center;
	color: #FFF;
}

.join-title {
	color: #FFF !important;
}

.form-input {
	width:60%;
	float:left;
	height:26px;
}

.btn {
	float: right;
}

.games-table {
	width:100%;
}

.games-table > thead {
	font-weight: bold;
}

.table-body > tr {
	height:47px;
}
