/*===========================

	Siteworx
	Written for - Planning Poker
	Author - Mike Nolan

	color swatch
	============
	70828a - shallow blue
	5296b5 - deep blue
	191919 - dark grey
	333333 - medium grey
	dddddd - light grey

===========================*/



/*===========================
	zeroing out all default 
	browser settings
===========================*/
body{
	background-color: #fbfcfc;
}
* {
	margin:0;
	padding:0;
}

/*===========================
			Fonts
===========================*/
@font-face {
	font-family: Museo;
	src: url("fonts/Museo300-Regular.otf") format("opentype");
}

/*===========================
			Login
===========================*/
.login {
	width:500px;
	height:auto;
	background-color:#70828a;
	color:#FFF;
	margin: 0 auto 0 auto;
	padding:25px;
	position : absolute;
	top:50%;
	left:50%;
	margin:-155px 0 0 -250px;
}

.login-form {
	text-align: center;
	color: #FFF;
}

.login-title {
	color: #FFF !important;
}

.form-input {
	width:90%;
}
