/* @override 
	file:///Users/julianboilen/Downloads/planning_poker/css/style.css
	http://localhost:9393/css/style.css
*/

/*===========================

	Siteworx
	Written for - Planning Poker
	Author - Mike Nolan

	color swatch
	============
	70828a - shallow blue
	5296b5 - deep blue
	191919 - dark grey
	333333 - medium grey
	dddddd - light grey

===========================*/



/*===========================
	zeroing out all default 
	browser settings
===========================*/
body{
	background-color: #fbfcfc;
}

* {
	margin:0;
	padding:0;
}

a {
	color: #FFF;
}

a:hover {
	color: #FFF;
}
/*===========================
			Fonts
===========================*/
@font-face {
	font-family: Museo;
	src: url("fonts/Museo300-Regular.otf") format("opentype");
}

/*==============================
	All styles relating to main 
	content portion
===============================*/
.content {
	width: 85vw;
}

/*==============================
	All styles relating to top 
	content portion
===============================*/
.header {
	font-family: 'Source Sans Pro';
	background-color: #70828a;
	color: #FFF;
	height:37vh;
	padding:1vw;
	position:relative;
	z-index: 2;
}

.title {
	width:45vw;
	height:7.7vh;
}
.title > h1 {
	font-weight: 200;
	font-size: 34px;
	border-bottom: 1px solid;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.title > h3 {
	font-weight: 300;
	font-size: 1.2em;
}

.description {
	margin-top:20px;
	height:28.6vh;
	width:101.1%;
	overflow-y:auto;
	color: #FFF;
	font: 10pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.cards {
	position:relative;
	z-index: 1;
	list-style: none;
	margin-left: 60px;
	margin-top: -9px;

}

.card {
	display: inline-block;
	color:#FFF;
	background-color: #191919;
	font-family: Museo;
	font-size:30px;
	padding:20px 11px 11px 11px;
	width: 19px;
	text-align: center;
	position: relative;
	border-radius: 4px;
}

.card:hover {
	cursor: pointer;
	background-color: #5296b5;
	color:#191919;
}

/*==============================
	All Styles Relating to 
	result cards
===============================*/
.results {
	margin-top: 40px;
	white-space: nowrap;
	height:160px;
	overflow-x: auto;
	overflow-y: hidden;
}

.result-card {
	background-color: #191919;
	height:126px;
	width:90px;
	margin:10px;
	display: inline-block;
	border-radius: 4px;
}

.result-card > h1 {
	text-align: center;
	margin-top:46%;
	color:#FFF;
}

/*==============================
	All Styles Relating to 
	Sidebar
===============================*/
.side-bar {
	position: fixed;
	right: 0;
	top: 0;
	background-color: #191919;
	width:13vw;
	color:#DDDDDD;
	height:100%;
	padding:1vw;
	font-size: 22px;
	overflow-y: scroll;
}
.side-tickets {
	list-style: none;
	margin-top: 10px;
}

.side-tickets > li {
	text-align: center;
	padding: 10px 0 10px 0;
	border-bottom: solid;
	border-width: 1px;
	border-color: #333;
	font-family: Museo;
}

.side-tickets > li.clickable:hover, .side-tickets > li.active {
	color:#5296b5;
	cursor: pointer;
}
#part-header {
	font-size: medium;
	margin-top: 2em;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: solid;
	border-width: 1px;
	border-color: #333;
}
#participants {
		font-family: Museo;
		list-style: none;
}

/*==============================
	All Styles Relating to 
	Admin Tools
===============================*/
#admin-panel {
	position: fixed;
	left: 0;
	bottom:0;
	color: #FFF;
	padding:10px;
	background-color: #191919;
	width: 85vw;
	display: none;
}

.form-group, .btn-group {
	float: left;
	margin: 0 90px 0px 10px;
}

.admin-group {
	width:260px;
	margin-bottom: 20px;
}

.input-small {
	height: 24px !important;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.last-group {
	clear:left;
	width:auto;
	margin: 0 0 10px 10px;
}

.last-group > input {
	float:left;
}

legend {
	width: 100%;
	margin: 0 0 20px 10px;
	padding-top: 10px;
}